@using Alife.Components.Shared.Modules

<div style="height: 100%; overflow: hidden; display: flex; flex-direction: column; background: #fafafa;">
    <ModuleManagementView IsReadOnly="false"></ModuleManagementView>
</div>
