<Modal Visible="@(Value != null)"
       VisibleChanged="@(b => ValueChanged.InvokeAsync(b ? Value : null))"
       Width="800"
       Centered="true">
    <div style="max-height: 500px; overflow-y: auto;">
        @if (Value != null)
        {
            <div
                style="margin-bottom: 24px; padding: 16px; border: 1px solid #ffccc7; background: #fff1f0; border-radius: 8px;">
                <div style="font-weight: bold; color: #ff4d4f; font-size: 16px; margin-bottom: 8px;">
                    <Icon Type="warning"/> @Title
                </div>

                <div style="margin-bottom: 8px; font-weight: 500;">错误信息：@(Value.Message)</div>

                @if (finalException != null)
                {
                    <div style="margin-bottom: 8px; color: #820014;">
                        内部原因：@(finalException.Message)
                    </div>

                    <pre style="max-height: 300px; 
                            overflow-y: auto; 
                            font-size: 11px; 
                            background: rgba(0,0,0,0.05); 
                            padding: 8px; 
                            border-radius: 4px;
                            white-space: pre-wrap;
                            margin-top: 8px;">
                        @(finalException.StackTrace)
                    </pre>
                }
            </div>
        }
        else
        {
            <Empty Description="@("组件参数缺失！")"/>
        }
    </div>
</Modal>



@code {
    [Parameter] public Exception? Value { get; set; }
    [Parameter] public EventCallback<Exception> ValueChanged { get; set; }
    [Parameter] public string Title { get; set; } = "操作失败喵！";

    Exception? finalException;

    protected override void OnParametersSet()
    {
        finalException = Value;
        while (finalException?.InnerException != null)
            finalException = finalException.InnerException;
    }
}
